{% extends "base.html" %}
{% block content %}


This is the leagues section 

<div class="league">
    League 1
    <table>
        <tr>
            <th>Team</th>
            <th>Wins</th>
            <th>Draws</th>
            <th>Losses</th>
            <th>Points</th>
        </tr>
        {%for team in all_teams%}
        {%if team.leagues.name == "League 1" %}
        
        <tr>
            <td><a style="text-decoration:none" href="/leagues/{{team.id}}/edit">{{team.name}}</a></td>
            <td>{{team.wins}}</td>
            <td>{{team.draws}}</td>
            <td>{{team.losses}}</td>
            <td>{{team.score}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>
<div class="league">
    League 2
    <table>
        <tr>
            <th>Team</th>
            <th>Wins</th>
            <th>Draws</th>
            <th>Losses</th>
            <th>Points</th>
        </tr>
        {%for team in all_teams%}
        {%if team.leagues.name == "League 2" %}
        
        <tr>
            <td><a style="text-decoration:none" href="/leagues/{{team.id}}/edit">{{team.name}}</a></td>
            <td>{{team.wins}}</td>
            <td>{{team.draws}}</td>
            <td>{{team.losses}}</td>
            <td>{{team.score}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    Click on a team name to see all their fixtures.
    <ul class="fixtures">
    
    {%for fixture in all_fixtures%}
    <li>
        
        <a style="text-decoration:none" href="/leagues/{{fixture.team1.id}}/fixtures">{{fixture.team1.name}}</a>
        {{fixture.team1score}}
        {{fixture.team2score}}
        <a style="text-decoration:none" href="/leagues/{{fixture.team2.id}}/fixtures">{{fixture.team2.name}}</a>
        
    </li>
    {%endfor%}
    
</ul>

<form action="/leagues/0/editpoints" method="post">
    <button type="submit">Submit Scores</button>
</form>

<form action="/leagues/0/deletefixtures" method="post">
    <button type="submit">Reset Table</button>
</form>


</div>

{% endblock %}

